{% extends 'layout.html' %}

{% block title %}
    Sing up
{% endblock %}

{% block statics %}
    <style>
        body {
            font-size: 20px;
        }
        #singup {
            font-size: 2vw;
            margin: 2vw;
        }

        #login {
            margin-right: 20px;
        };
    </style>
{% endblock %}

{% block content %}
    <header>
        <a class="links" id="login" href="{% url 'login' %}">Login</a>
    </header>
    <div id="title">
        <h2>Sing up</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}
